<!DOCTYPE html>
<html>
  <head>
    <title>PhotoUploader</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
    <h1>DOCTOR FINDER</h1>
    <p><%= link_to 'Add Profile', new_post_path %></p>
  </header>

    <%= yield %>
  </body>
</html>
